POSTGRES_USER=harpocrate
POSTGRES_PASSWORD=change-me-please
POSTGRES_DB=harpocrate

HARPOCRATE_KEYCLOAK_URL=https://keycloak.yoops.org
HARPOCRATE_KEYCLOAK_REALM=yoops
HARPOCRATE_KEYCLOAK_CLIENT_ID=harpocrate-vault
HARPOCRATE_HMAC_KEY=REPLACE_WITH_BASE64_32_BYTES
HARPOCRATE_PUBLIC_URL=https://vault.yoops.org
HARPOCRATE_LOG_LEVEL=INFO

TAG=latest
